In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [18]:
url="https://www.cricbuzz.com/profiles/265/ms-dhoni"
page=requests.get(url)
soup=BeautifulSoup(page.text,'lxml')

In [19]:
table=soup.find('table',class_="table cb-col-100 cb-plyr-thead")
#table

headers=[]

for i in table.find_all('th'):
    title=i.text
    headers.append(title)
#print(headers)

df1=pd.DataFrame(columns=headers)
#df

for rows in table.find_all('tr')[1:]:
    data=rows.find_all('td')
    rows_data=[td.text for td in data]
    length=len(df1)
    df1.loc[length]=rows_data

In [20]:
df1

           M  Inn  NO   Runs   HS    Avg     BF      SR 100 200  50   4s   6s
0  Test   90  144  16   4876  224  38.09   8248   59.12   6   1  33  544   78
1   ODI  350  297  84  10773  183  50.58  12303   87.56  10   0  73  826  229
2  T20I   98   85  42   1617   56   37.6   1282  126.13   0   0   2  116   52
3   IPL  234  206  79   4978   84   39.2   3682   135.2   0   0  24  346  229

In [21]:
df1.to_csv('msd_stats.csv')

In [8]:
url='https://www.cricbuzz.com/profiles/576/rohit-sharma'
page=requests.get(url)
soup=BeautifulSoup(page.text,'lxml')
table=soup.find('table',class_="table cb-col-100 cb-plyr-thead")

headers=[]
for i in table.find_all('th'):
    title=i.text
    headers.append(title)
df=pd.DataFrame(columns=headers)


for rows in table.find_all('tr')[1:]:
    data=rows.find_all('td')
    rows_data=[td.text for td in data]
    length=len(df)
    df.loc[length]=rows_data
df

           M  Inn  NO  Runs   HS    Avg     BF      SR 100 200  50   4s   6s
0  Test   45   77   9  3137  212  46.13   5625   55.77   8   1  14  335   64
1   ODI  233  226  33  9376  264  48.58  10513   89.18  29   3  45  855  250
2  T20I  148  140  15  3853  118  30.82   2767  139.25   4   0  29  348  182
3   IPL  227  222  28  5879  109   30.3   4526  129.89   1   0  40  519  240

In [9]:
df.to_csv("rohit_sharma_stats.csv")